
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h4>Create new Shipment</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form action="@Url.Action("Export","Reports")" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label"> Shipment Number: </label>
                    <input class="form-control" type="text" name="shipment_no" value="@ViewBag.shipmentNo" />
                </div>
                @if (ViewBag.shipments != null)
                {
                    <p class="alert alert-danger">@ViewBag.shipments</p>
                }
                else if (ViewBag.found != null)
                {
                    <p class="alert alert-success">@ViewBag.found</p>
                }
                <div class="form-group">
                    <input type="submit" value="Download" class="btn btn-sm btn-outline-success" />
                </div>
            </form>
        </div>


    </div>

    <div>

    </div>
</div>