@model TatakPinoy.Models.Shipment

@{
    ViewData["Title"] = "Create New Shipment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h4>Create new Shipment</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ShipmentNo" class="control-label"> Shipment Number: </label>
                    <input asp-for="ShipmentNo" id="shipmentNo" class="form-control" onchange="DataCheck()" />
                    <span asp-validation-for="ShipmentNo" class="text-danger"></span>
                    <div class="row">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <p id="Status" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContainerNo" class="control-label">Container Number: </label>
                    <input asp-for="ContainerNo" class="form-control" />
                    <span asp-validation-for="ContainerNo" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-sm btn-outline-success" />
                    <a class="btn btn-sm btn-outline-success" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>


    </div>

    <div>

    </div>
</div>
<script>
    function DataCheck() {
        $("#Status").html("Checking...");
        $.post("@Url.Action("CheckifExist", "Shipments")",
            {
                userdata: $("#shipmentNo").val()
            },
            function (data) {
                if (data == 0) {
                    $("#Status").html('<font color="Green">Shipment Number is available</font>');
                    $("#shipmentNo").css("border-color", "Green");

                }
                else {
                    $("#Status").html('<font color="Red">Shipment Number Already Exist!</font>');
                    $("#shipmentNo").css("border-color", "Red");
                }
            });
    }
</script>
