@model TatakPinoy.Models.Shipment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h4>Create new Shipment</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ShipmentNo" class="control-label"> Shipment Number: </label>
                    <input asp-for="ShipmentNo" class="form-control" />
                    <span asp-validation-for="ShipmentNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContainerNo" class="control-label">Container Number: </label>
                    <input asp-for="ContainerNo" class="form-control" />
                    <span asp-validation-for="ContainerNo" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-sm btn-outline-success" />
                    <a class="btn btn-sm btn-outline-success" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>


    </div>

    <div>

    </div>
</div>
