@model IEnumerable<TatakPinoy.Models.Shipment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">New Shipment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Shipment Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShipmentNo)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ShipmentId">Edit</a> |*@
                <a asp-controller="Consignees" asp-action="Index" asp-route-id="@item.Consignees">Update</a>
                @*<a asp-action="Delete" asp-route-id="@item.ShipmentId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
