@model List<TatakPinoy.Models.Shipment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @*<a asp-action="Create">New Shipment</a>*@
    <a class="btn btn-outline-success my-2 my-sm-0" asp-action="Create">New Shipment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Shipment Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShipmentNo)
            </td>
            <td>
                @Html.ActionLink("Update", "Index", "Consignees", new { shipmentid = item.ShipmentId }, new { @class = "btn btn-outline-success my-2 my-sm-0" })
                @*<a asp-action="Edit" asp-route-id="@item.ShipmentId">Edit</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.ShipmentId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
