@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <h5 class="card-title">Password for @User.Identity.Name is successfully changed.</h5>
        </div>
    </div>
</div>