@model List<TatakPinoy.Models.Consignee>
@{
    ViewData["Title"] = "Home Page";
}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-content-center">
        <div class="container d-flex justify-content-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="row">
                <form asp-controller="Home" asp-action="Track">
                    <div class="col-xl-6 bb">
                        <h2><p style="color:white">Track your cargo</p></h2>
                        <p style="color:yellow;font-style:italic">For easy access,please track your boxes as indicated!</p>
                        <input type="text" name="Track" style="width: 350px; height: 46px" placeholder="ABC-101-245">
                        <button class="btn-get-started scrollto">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">    
        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg ">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Services</h2>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-briefcase"></i>
                            <h4><a href="#">Balikbayan door to door</a></h4>
                            <p>Please contact us from the following locations:</p>
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">New York Area:</div>
                                        &nbsp;&nbsp;&nbsp; Efren &nbsp; 856-254-6746<br />
                                        &nbsp;&nbsp;&nbsp; Arlyne &nbsp; 201-423-4881
                                    </div>
                                    <span class="badge bg-primary rounded-pill"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Jamaica, Queens, N Y</div>
                                        &nbsp;&nbsp;&nbsp; Devie &nbsp; 917-287-242
                                    </div>
                                    <span class="badge bg-primary rounded-pill"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Hudson County, New Jersey</div>
                                        &nbsp;&nbsp;&nbsp; Dennis &nbsp; 201-428-819
                                    </div>
                                    <span class="badge bg-primary rounded-pill"></span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact Us</h2>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="info-box">
                                    <i class="bx bx-map"></i>
                                    <h3>Our Address</h3>
                                    <p><b>Main Office:</b> &nbsp; 112 South Washington Ave., Bergenfield, New Jersey 07621</p>
                                    <p><b>Warehouse:</b> &nbsp; 930 Newark Ave., Jersey City, New Jersey 07306</p>
                                    <p><b>NY Office:</b> &nbsp; 39-10, 63rd St. , Woodside New York 11377</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-envelope"></i>
                                    <h3>Email Us</h3>
                                    <p>
                                        inquiries@tatakpinoycargo.us<br>
                                        <br>

                                        &nbsp;
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-phone-call"></i>
                                    <h3>Call Us</h3>
                                    <p>201-272-2205<br>856-254-6746<br>201-428-4881</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bxs-truck"></i>
                                    <h3>For Pickup</h3>
                                    <p>Efren: 856-254-6746<br>
                                       Arlyne: 201-423-4881<br>
                                       Dennis: 201-428-0819<br>
                                       Phoy: 201-920-3110/201-954-4662<br>
                                       Joel: 732-600-4716<br>          
                                   </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-store"></i>
                                    <h3>Partner Stores</h3>
                                    <p><b>Jade's Filipino Restaurant and Groceries</b><br>
                                       6701 Black Horse Pike, Egg Harbor Township, NJ 08234<br>
                                       609-272-2882<br>
                                       

                                       &nbsp;
                                   </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="well well-sm">
                            <form asp-controller="Messages" asp-action="Create" method="post" id="message_form">
                                <input name="subject" value="" type="hidden" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">
                                                Name
                                            </label>
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" required="required" />
                                        </div>
                                        <div class="form-group">
                                            <label for="email">
                                                Email Address
                                            </label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                </span>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required="required" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">
                                                Contact Number
                                            </label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-earphone"></span>
                                                </span>
                                                <input type="email" class="form-control" name="contactno" id="contactno" placeholder="Enter Contact Number" required="required" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">
                                                Message
                                            </label>
                                            <textarea name="msg" id="msg" class="form-control" rows="9" cols="25" required="required"
                                                      placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary pull-right" id="btnContactUs">
                                            Send Message
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="section-title">
                <h5>Maraming salamat po sa pagtangkilik sa sariling atin. Mabuhay ang Pilipino. Magtulungan para umangat</h5>
                <h4>Pilipinong totoo. Tatak Pinoy Tayo!! May God Bless us All !!!</h4>
            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <script>
        $("#btnContactUs").click(function () {
            var form = $('#message_form');
            console.log(form.serialize());
            $.ajax({
                url: '@Url.Action("Create","Messages")',
                type: 'POST',
                async: true,
                data: form.serialize(),
                success: function (form) {
                    alert("Successfully Added");
                    $('input[type="text"],textarea').val('');
                    $('input[type="email"]').val('');
                },
                error(result) {
                    console.log(result);
                }
            });
        });

    </script>
<!-- Removing exposed appsetings.json -->

