@model TatakPinoy.Models.ConsigneeStatus

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>Update Consignee Status</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ConsigneeStatusId" />
                <div class="form-group">
                    <label asp-for="ConsigneeStatusDesc" class="control-label">Consignee Status Description </label>
                    <input asp-for="ConsigneeStatusDesc" class="form-control" />
                    <span asp-validation-for="ConsigneeStatusDesc" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-sm btn-outline-success" />
                    <a class="btn btn-sm btn-outline-success" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>


</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
