@model TatakPinoy.Models.Consignee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h4>Box Details</h4>
    <hr />
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ConsigneeId" />
                <input asp-for="ShipmentId" type="hidden" />
                <div class="form-group">
                    <label class="control-label">Tracking Number</label>
                    <input asp-for="TrackingNo" class="form-control" />
                    <span asp-validation-for="TrackingNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Shipper's Name</label>
                    <input asp-for="ShipersName" class="form-control" />
                    <span asp-validation-for="ShipersName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Contact Number</label>
                    <input asp-for="ShipersNo" class="form-control" />
                    <span asp-validation-for="ShipersNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Quantity</label>
                    <input asp-for="Qty" class="form-control" />
                    <span asp-validation-for="Qty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Agent</label>
                    <input asp-for="AgentsName" class="form-control" />
                    <span asp-validation-for="AgentsName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Pick-up Date</label>
                    <input asp-for="PickupDate" class="form-control" type="date" />
                    <span asp-validation-for="PickupDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-success" />
                    <a class="btn btn-outline-success" asp-action="Index">Back to List</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Consignee's Name</label>
                    <input asp-for="ConsigneesName" class="form-control" />
                    <span asp-validation-for="ConsigneesName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <input asp-for="ConsigneesAddr" class="form-control" />
                    <span asp-validation-for="ConsigneesAddr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Contact Number</label>
                    <input asp-for="ConsigneesNo" class="form-control" />
                    <span asp-validation-for="ConsigneesNo" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>



</div>
