@model TatakPinoy.Models.Consignee

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Consignee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConsigneeId" />
            <div class="form-group">
                <label asp-for="TrackingNo" class="control-label"></label>
                <input asp-for="TrackingNo" class="form-control" />
                <span asp-validation-for="TrackingNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipersName" class="control-label"></label>
                <input asp-for="ShipersName" class="form-control" />
                <span asp-validation-for="ShipersName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipersNo" class="control-label"></label>
                <input asp-for="ShipersNo" class="form-control" />
                <span asp-validation-for="ShipersNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsigneesName" class="control-label"></label>
                <input asp-for="ConsigneesName" class="form-control" />
                <span asp-validation-for="ConsigneesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsigneesAddr" class="control-label"></label>
                <input asp-for="ConsigneesAddr" class="form-control" />
                <span asp-validation-for="ConsigneesAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsigneesNo" class="control-label"></label>
                <input asp-for="ConsigneesNo" class="form-control" />
                <span asp-validation-for="ConsigneesNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentsName" class="control-label"></label>
                <input asp-for="AgentsName" class="form-control" />
                <span asp-validation-for="AgentsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickupDate" class="control-label"></label>
                <input asp-for="PickupDate" class="form-control" />
                <span asp-validation-for="PickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipmentId" class="control-label"></label>
                <select asp-for="ShipmentId" class="form-control" asp-items="ViewBag.ShipmentId"></select>
                <span asp-validation-for="ShipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
