@model TatakPinoy.Models.Consignee

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <h4>Box Details</h4>
    <hr />
    <form asp-action="Edit" name="2">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ConsigneeId" />
                <input asp-for="ShipmentId" type="hidden" />
                <div class="form-group">
                    <label class="control-label">Tracking Number</label>
                    <input asp-for="TrackingNo" class="form-control" />
                    <span asp-validation-for="TrackingNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Shipper's Name</label>
                    <input asp-for="ShipersName" class="form-control" />
                    <span asp-validation-for="ShipersName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Contact Number</label>
                    <input asp-for="ShipersNo" class="form-control" />
                    <span asp-validation-for="ShipersNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Quantity</label>
                    <input asp-for="Qty" class="form-control" />
                    <span asp-validation-for="Qty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Agent</label>
                    <input asp-for="AgentsName" class="form-control" />
                    <span asp-validation-for="AgentsName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Received at Warehouse</label>
                    <input asp-for="PickupDate" class="form-control" type="date" />
                    <span asp-validation-for="PickupDate" class="text-danger"></span>
                </div>
                <br />
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Consignee's Name</label>
                    <input asp-for="ConsigneesName" class="form-control" />
                    <span asp-validation-for="ConsigneesName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <input asp-for="ConsigneesAddr" class="form-control" />
                    <span asp-validation-for="ConsigneesAddr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Contact Number</label>
                    <input asp-for="ConsigneesNo" class="form-control" />
                    <span asp-validation-for="ConsigneesNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Tracking Status</label>
                    <select class="form-control select2" asp-for="ConsigneeStatusId" asp-items="ViewBag.ConsigneeStatusId">
                        <option value="ViewBag.ConsigneeStatusId">Select status</option>
                    </select>
                </div>
                <div class="5 box">
                    <label class="control-label">Reason</label>
                    <textarea asp-for="BackloadReason" class="form-control" style="height:100px;"> </textarea>
                    <span asp-validation-for="BackloadReason" class="text-danger"></span>
                </div>
                <div class="6 box">
                    <label class="control-label">Received by</label>
                    <input asp-for="RecievedBy" class="form-control" value="@Model.ConsigneesName" />
                    <span asp-validation-for="RecievedBy" class="text-danger"></span>
                </div>
                <div class="6 box">
                    <label class="control-label">Delivery Date</label>
                    <input asp-for="DeliveryDate" class="form-control" type="date" />
                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-sm btn-outline-success" />
                    <a class="btn btn-sm btn-outline-success" asp-controller="Consignees" asp-action="Index" asp-route-shipmentid="@Model.ShipmentId">Back to List</a>
                </div>
            </div>
        </div>
    </form>



    </div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
    $(document).ready(function () {
        $("select").change(function () {
            $(this).find("option:selected").each(function () {
                var optionValue = $(this).attr("value");
                if (optionValue) {
                    $(".box").not("." + optionValue).hide();
                    $("." + optionValue).show();
                } else {
                    $(".box").hide();
                }
            });
        }).change();
    });
    </script>
@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
