<!-- Favicons -->

<link href="~/portfolio_boostrap/img/TatakPinoyLogoS.png" rel="icon">
<link href="~/portfolio_boostrap/img/TatakPinoyLogoS.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">-->
<!-- Vendor CSS Files -->
<!--<link href="~assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~assets/vendor/aos/aos.css" rel="stylesheet">
<link href="~assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="~assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">-->
<!-- Template Main CSS File -->
<!--<link href="assets/css/main.css" rel="stylesheet">-->


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="~/portfolio_boostrap/vendor/aos/aos.css" rel="stylesheet">
<link href="~/portfolio_boostrap/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/portfolio_boostrap/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/portfolio_boostrap/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/portfolio_boostrap/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="~/portfolio_boostrap/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="~/portfolio_boostrap/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="~/portfolio_boostrap/css/styles.css" rel="stylesheet">




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TatakPinoy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">
            <img src="~/portfolio_boostrap/img/TatakPinoyLogoS.png" alt="Alternate Text" /><h1 class="logo me-auto"><a >TatakPinoy</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" asp-controller="Home" asp-action="Index">Home</a></li>

                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Gallery</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="nav-link scrollto" asp-controller="Shipments" asp-action="Index">Shipments</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Master Data</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a class="dropdown-item" asp-controller="Status" asp-action="Index">Status</a></li>
                            <li><a class="dropdown-item" asp-controller="ConsigneeStatus" asp-action="Index">Consignee's Status</a></li>
                        </ul>
                    </li>
                    @*        <div class="dropdown">
            <a class="nav-link scrollto" href="#contact">Master Data</a></li>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Status" asp-action="Index">Status</a></li>
                <li><a class="dropdown-item" asp-controller="ConsigneeStatus" asp-action="Index">Consignee's Status</a></li>
            </ul>
        </div>*@

                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Account" asp-action="Logout">Logout</a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login">Login</a>
                        }
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TatakPinoy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


<!-- Vendor JS Files -->
<script src="~/portfolio_boostrap/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/portfolio_boostrap/vendor/aos/aos.js"></script>
<script src="~/portfolio_boostrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/portfolio_boostrap/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/portfolio_boostrap/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/portfolio_boostrap/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/portfolio_boostrap/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/portfolio_boostrap/js/main.js"></script>